<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/stylesheets/style5.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto&display=swap" rel="stylesheet">
  <script src="/javascripts/script5.js" defer></script>
</head>
<body>
  {{{ body }}}
</body>
</html>